cust/app/customized/partner-com.agoda.mobile.consumer_110/partner-com.agoda.mobile.consumer_110.apk
cust/app/customized/partner-com.opera.browser_36/partner-com.opera.browser_36.apk
cust/app/customized/partner-com.ss.android.ugc.trill_101/partner-com.ss.android.ugc.trill_101.apk
cust/app/customized/partner-com.amazon.mp3_123/partner-com.amazon.mp3_123.apk
cust/app/customized/partner-com.amazon.mShop.android.shopping_41/partner-com.amazon.mShop.android.shopping_41.apk
cust/app/customized/partner-com.zhiliaoapp.musically_100/partner-com.zhiliaoapp.musically_100.apk
mi_ext/product/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
mi_ext/product/data-app/Opera/Opera.apk
mi_ext/product/priv-app/Messages_arm64_xxhdpi/Messages_arm64_xxhdpi.apk
mi_ext/product/priv-app/MIBrowserGlobal_builtin_before_2021/MIBrowserGlobal_builtin_before_2021.apk
bootRE/boot.elf
vendor_dlkm/lib/modules/qca_cld3_wlan.ko
product/app/Gmail2/Gmail2.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/Photos/Photos.apk
product/data-app/MIMediaEditorGlobal/MIMediaEditorGlobal.apk
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
modem.img
recovery.img
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
